
.logo {
  width: 60px;
}
.header {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;

  
}
.header h2 {
  margin-left: auto;
  color: #DEEBF8;
  padding-right: 1em;
}
.header h1 {
  color: #61DAFB;
  
}
.background {
  background-color: #21222A;
  
  
}
.main {
  display: flex;
  flex-direction: column;
  color: #FFFFFF; 
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 3rem;
  padding-left: 1.5rem;
  max-width: 1500px;
  margin: 0 auto;
}

.main h1 {
  letter-spacing: -0.05em;
  font-size: 39px;
  margin-top: 2em;
}

.main--facts {
  max-width: 400px;
 
}

 .main--facts > li::marker {
 color: #61DAFB;
 font-size: 1.4rem;
 }

/* .mainbackground {
  
 
  background-image: url("Group.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 10%;
  z-index: 200;
  
} */
