* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  background-color:#282D35;
  background-image: url("Group.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -50%;
  z-index: 200;
}


